In [1]:
%cd /content/sample_data

/content/sample_data

In [2]:
import pandas as pd
import numpy as np

In [37]:
data=pd.read_excel('salary_xl.xlsx')

In [4]:
data.head()

   Age  Gender Education Level          Job Title  Years of Experience  Salary
0   32    Male      Bachelor's  Software Engineer                  5.0   90000
1   28  Female        Master's       Data Analyst                  3.0   65000
2   45    Male             PhD     Senior Manager                 15.0  150000
3   36  Female      Bachelor's    Sales Associate                  7.0   60000
4   52    Male        Master's           Director                 20.0  200000

In [5]:
data.shape

(1000, 6)

In [ ]:
data['Gender'].value_counts()

Gender
Male      523
Female    477
Name: count, dtype: int64

In [38]:
data['Gender_say']=data['Gender'].map({'Male':1,'Female':0})

In [ ]:
data.head()

,Age,Job Title,Years of Experience,Salary,Gender_say,Education Level Say
0,32,Software Engineer,5.0,90000,1,1
1,28,Data Analyst,3.0,65000,0,2
2,45,Senior Manager,15.0,150000,1,3
3,36,Sales Associate,7.0,60000,0,1
4,52,Director,20.0,200000,1,2

In [39]:
data.drop('Gender',axis=1,inplace=True)

In [ ]:
data['Education Level'].value_counts()

Education Level
Bachelor's           614
Master's             245
PhD                  128
Bachelor's Degree      9
Master's Degree        4
Name: count, dtype: int64

In [40]:
data['Education Level Say']=data['Education Level'].map({'Bachelor\'s':1,'Master\'s':2,
                                                         'PhD':3, 'Bachelor\'s Degree':1,'Master\'s Degree':2})

In [ ]:
data['Education Level Say'].value_counts()

Education Level Say
1    623
2    249
3    128
Name: count, dtype: int64

In [41]:
data.drop('Education Level',axis=1,inplace=True)

In [42]:
data.head()

,Age,Job Title,Years of Experience,Salary,Gender_say,Education Level Say
0,32,Software Engineer,5.0,90000,1,1
1,28,Data Analyst,3.0,65000,0,2
2,45,Senior Manager,15.0,150000,1,3
3,36,Sales Associate,7.0,60000,0,1
4,52,Director,20.0,200000,1,2

In [ ]:
data['Job Title'].value_counts()

Job Title
Data Analyst                      210
Software Engineer                 174
Data Scientist                    134
Product Manager                   115
Director of Marketing              12
                                 ...
Junior Social Media Specialist      1
Junior Operations Coordinator       1
Senior HR Specialist                1
Director of HR                      1
Junior Financial Advisor            1
Name: count, Length: 174, dtype: int64

In [11]:
isler=['Data Analyst','Software Engineer','Data Scientist','Product Manager','Director of Marketing']

In [43]:
silinecek_satirlar=[]
for i in range(data.shape[0]):
  if data['Job Title'].iloc[i]  not in isler:
    silinecek_satirlar.append(i)

In [13]:
len(silinecek_satirlar)

355

In [44]:
data.drop(silinecek_satirlar,axis=0,inplace=True)

In [ ]:
data.shape

(645, 6)